{% extends 'base.html' %}

{% block content %}
    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a> Form Validation</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item">Commodities</li>
                            <li class="breadcrumb-item active">Add Commodity</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2>Basic Info</h2>
                        </div>
                        <div class="body">
                            <form id="basic-form" method="post"  action="{%url 'commodities' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>Own code</label>                                     
                                    <input required name="own_code" type="text" class="form-control" required="">
                                </div>
                                <div class="form-group">
                                    <label>Commodity code</label>
                                    <input required name="commodity_code" type="text" class="form-control" required="">
                                </div>
                                <div class="form-group">
                                    <label>Commodity Barcode</label>
                                    <input required name="commodity_barcode" type="text" class="form-control" required="">
                                </div>
                                <div class="form-group">
                                    <label>Unit</label>
                                    <input required name="unit" type="number" class="form-control" required="">
                                </div>
                                <div class="form-group">
                                    <label>Commodity Name</label>
                                    <input required name="commodity_name" type="text" class="form-control" required="">
                                </div>
                                <div class="form-group">
                                    <label>Commodity Abbr</label>
                                    <input required name="commodity_abbr" type="text" class="form-control" required="">
                                </div>
                                <div class="form-group">
                                    <label>Template Category</label>
                                    <input required name="template_category" type="text" class="form-control" required="">
                                </div>                                     
                                <div class="form-group">
                                    <label>Template Type</label>
                                    <input required name="template_type" type="text" class="form-control" required="">
                                </div>
                                <div class="form-group">
                                    <label>Origin</label>
                                    <input required name="origin" type="text" class="form-control" required="">
                                </div>
                                <div class="form-group">
                                    <label>Level</label>
                                    <input required name="lavel" name="level" type="text" class="form-control" required="">
                                </div>
                                <div class="form-group">
                                    <label>Qrcode Link</label>
                                    <input required name="qrcode_link" type="text" class="form-control" required="">
                                </div>
                                <div class="form-group">
                                    <label>Picture Info</label>
                                    <div class="dropify-wrapper" style="height: 342px;">
                                        <div class="dropify-message"><span class="file-icon"></span>
                                            <p>Drag and drop a file here or click</p>
                                            <p class="dropify-error">Ooops, something wrong appended.</p></div>
                                        <div class="dropify-loader"></div>
                                        <div class="dropify-errors-container">
                                            <ul></ul>
                                        </div>
                                        <input required name="picture_info" type="file" class="dropify">
                                        <button type="button" class="dropify-clear">Remove</button>
                                        <div class="dropify-preview"><span class="dropify-render"></span>
                                            <div class="dropify-infos">
                                                <div class="dropify-infos-inner"><p class="dropify-filename"><span
                                                        class="file-icon"></span> <span
                                                        class="dropify-filename-inner"></span></p>
                                                    <p class="dropify-infos-message">Drag and drop or click to
                                                        replace</p></div>
                                            </div>
                                        </div>
                                    </div>                                                                                                             
                                </div>
                                <h3>Specification</h3>
                                <div class="form-group">
                                    <label>Specifications</label>
                                    <input required name="specification" type="text" class="form-control" required="">
                                </div>
                                <div class="form-group">
                                    <label>Selling Price</label>
                                    <input required name="selling_price" type="number" class="form-control" required="">
                                </div>
                                <div class="form-group">
                                    <label>Original Price</label>
                                    <input required name="original_price" type="number" class="form-control" required="">
                                </div>
                                <div class="form-group">
                                    <label>Vip Price</label>
                                    <input required name="vip_price" type="number" class="form-control" required="">
                                </div>
                                <div class="form-group">
                                    <label>Stock 1</label>
                                    <input required name="stock_1" type="number" class="form-control" required="">
                                </div>
                                <div class="form-group">
                                    <label>Stock 2</label>
                                    <input required name="stock_2" type="number" class="form-control" required="">
                                </div>
                                <div class="form-group">
                                    <label>Stock 3</label>
                                    <input required name="stock_3" type="number" class="form-control" required="">
                                </div>
                                <h3>Promotion Info</h3>
                                <div class="form-group">
                                    <label>Promotion Period</label>
                                    <input required name="promotion_period_start_date" type="date" class="form-control" required="">
                                </div>
                                <div class="form-group">
                                    <label>To</label>
                                    <input required name="promotion_period_end_date" type="date" class="form-control" required="">
                                </div>                                                                 
                                <br>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}