{% extends 'base.html' %}
{% block content %}
<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a> Device</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item">Device</li>
                        <li class="breadcrumb-item">Base Station</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>Basestation List</h2>
                        <ul class="header-dropdown">
                            <li><a href="javascript:void(0);" class="btn btn-info call_modal" data-toggle="modal"
                                    data-target="#addcontact">Add New</a></li>
                        </ul>


                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <table
                                            class="table table-hover js-basic-example dataTable table-custom table-striped m-b-0 c_list no-footer"
                                            id="DataTables_Table_0" role="grid"
                                            aria-describedby="DataTables_Table_0_info">
                                            <thead class="thead-dark">
                                                <tr role="row">
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                        rowspan="1" colspan="1" style="width: 213.333px;"
                                                        aria-label="Name: activate to sort column ascending">Code
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                        rowspan="1" colspan="1" style="width: 148.55px;"
                                                        aria-label="Employee ID: activate to sort column ascending">
                                                        App Name
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                        rowspan="1" colspan="1" style="width: 143.767px;"
                                                        aria-label="Phone: activate to sort column ascending">Model
                                                        Firmware Version
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                        rowspan="1" colspan="1" style="width: 120.45px;"
                                                        aria-label="Join Date: activate to sort column ascending">Linked
                                                        Est Amount
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                        rowspan="1" colspan="1" style="width: 176.867px;"
                                                        aria-label="Role: activate to sort column ascending">Status
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                        rowspan="1" colspan="1" style="width: 176.867px;"
                                                        aria-label="Role: activate to sort column ascending">
                                                        <span> Online Time</span><br>
                                                        <span> Offline Time</span>
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                        rowspan="1" colspan="1" style="width: 176.867px;"
                                                        aria-label="Role: activate to sort column ascending">
                                                        <span>2G Wifi name</span><br>
                                                        <span>5G Wifi name</span>
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                        rowspan="1" colspan="1" style="width: 176.867px;"
                                                        aria-label="Role: activate to sort column ascending">
                                                        <span>Wifi set status</span>
                                                        <span>Wifi set time</span>

                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                        rowspan="1" colspan="1" style="width: 176.867px;"
                                                        aria-label="Role: activate to sort column ascending">Comment
                                                    </th>


                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                        rowspan="1" colspan="1" style="width: 91.8px;"
                                                        aria-label="Action: activate to sort column ascending">Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                {% for basestation in base_station %}
                                                <tr role="row" class="odd">
                                                    <td class="width45 sorting_1">
                                                        {{ basestation.code }}
                                                    </td>
                                                    <td>
                                                        <h6 class="mb-0"> {{ basestation.Ap_name }} </h6>
                                                        <span> {{ basestation.Ap_mac }} </span>
                                                    </td>
                                                    <td><span> {{ basestation.model_firmware_version }} </span>
                                                    </td>
                                                    <td><span> {{ basestation.Inked_esl_amount }} </span></td>
                                                    <td> {{ basestation.Status }} </td>
                                                    <td><span> {{ basestation.Online_time }} </span><br>
                                                        <span> {{ basestation.Offline_time }} </span>
                                                    </td>
                                                    <td>
                                                        <span> {{ basestation.wifi_2g_name }} </span><br>
                                                        <span> {{ basestation.wifi_5g_name }} </span>
                                                    </td>
                                                    <td>
                                                        <span> {{ basestation.wifi_set_status }} </span><br>
                                                        <span> {{ basestation.wifi_set_time }} </span>
                                                    </td>
                                                    <td> {{ basestation.Comment }} </td>

                                                    <td>


                                                        <button type="button"
                                                            class="btn btn-sm btn-outline-secondary update_button"
                                                            data-toggle="modal" data-target="#updatedevice" data-id={{basestation.id}} title="Edit"><i
                                                                class="fa fa-edit"></i></button>
                                                        <button type="button"
                                                            class="btn btn-sm btn-outline-secondary update_button"
                                                            data-toggle="modal" data-target="#Viewdevice" data-id={{basestation.id}} title="View"><i class="fa fa-eye"></i></button>
                                                        <a href="/basestationdelete/{{ basestation.id }}"
                                                            class="remove_button">
                                                            <button type="button" class="btn btn-sm btn-outline-danger"
                                                                title="Delete" data-type="confirm"><i
                                                                    class="fa fa-trash"></i></button>
                                                        </a>

                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal -->
<div class="modal animated zoomIn" id="addcontact" tabindex="-1" role="dialog"
    style="display: none; padding-right: 12px;" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">Add Basestation</h6>
            </div>
            <form method="post" name="addbasestation" action="{% url 'basestation' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row clearfix">

                        {% for field in adddform %}
                        <div class="col-12">
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {{ field.errors }}
                            </div>
                        </div>
                        {% endfor %}
                        <!-- <div class="col-12">
                                <div class="form-group">
                                    <input type="text" name="Ap_name" class="form-control" placeholder="App Name">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="text" name="Ap_mac" class="form-control" placeholder="Mac">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="text" name="Comment" class="form-control" placeholder="Comment">
                                </div>
                            </div> -->

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Update Modal -->
<div class="modal animated zoomIn" id="updatedevice" tabindex="-1" role="dialog"
    style="display: none; padding-right: 12px;" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">Update Basestation</h6>
            </div>
            <form method="post" name="updatebasestation" id="updatebasestation" action="/basestationupdate/">
                {% csrf_token %}
                <div class="modal-body" id="updatebasestationform">
                    <div class="row clearfix">
                        {% for field in updateform %}
                        <div class="col-12">
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {{ field.errors }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal animated zoomIn" id="Viewdevice" tabindex="-1" role="dialog"
    style="display: none; padding-right: 12px;" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">View Base Station</h6>
            </div>
                <div class="modal-body" id="Viewbasestationform">
                    <div class="row clearfix">
                        
                    </div>
                </div>            
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $('#updatedevice').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var id = button.data('id') // Extract info from data-* attributes
            $.ajax({
                type: 'GET',
                url: '/basestationupdateform/' + id,
                success: function (res) {
                    $("#updatebasestationform").html(res)
                }
            });
            var modal = $(this)
            console.log(id)
            $("#updatebasestation").attr("action", "/basestationupdate/" + id);
        })

        $('#Viewdevice').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var id = button.data('id') // Extract info from data-* attributes
            $.ajax({
                type: 'GET',
                url: '/basestationviewform/' + id,
                success: function (res) {
                    $("#Viewbasestationform").html(res)
                }
            });
            var modal = $(this)
            console.log(id)
        })
        $('#DataTables_Table_0').DataTable();
    });
</script>

{% endblock content %}

{% block include_page %}
{% include 'partials/_sweetalert.html' %}
{% endblock %}