{% extends 'base.html' %}

{% block content %}
    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a> Commodities</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item">Commodities</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">
                            <ul class="nav nav-tabs-new2">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Home-new2">General
                                    List</a></li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active " id="Home-new2">
                                    <div class="header">
                                        <h2>Commodity List</h2>
                                        <ul class="header-dropdown">
                                            <li><a href="javascript:void(0);" class="btn btn-info call_modal" data-toggle="modal"
                                                data-target="#addcontact">Add New</a></li>
                                           
                                        </ul>
                                    </div>


                                    <div class="body">
                                        <div class="table-responsive">
                                            <div id="DataTables_Table_0_wrapper"
                                                 class="dataTables_wrapper dt-bootstrap4">

                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <table class="table table-hover js-basic-example dataTable table-custom"
                                                               id="DataTables_Table_0" role="grid"
                                                               aria-describedby="DataTables_Table_0_info">
                                                            <thead class="thead-dark">
                                                            <tr role="row">
                                                                <th class="sorting_asc" tabindex="0"
                                                                    aria-controls="DataTables_Table_0" rowspan="1"
                                                                    colspan="1" style="width: 200.483px;"
                                                                    aria-sort="ascending"
                                                                    aria-label="Name: activate to sort column descending">
                                                                    Commodity by code
                                                                </th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_0" rowspan="1"
                                                                    colspan="1" style="width: 323.233px;"
                                                                    aria-label="Position: activate to sort column ascending">
                                                                    Commodity Barcode
                                                                </th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_0" rowspan="1"
                                                                    colspan="1" style="width: 140.85px;"
                                                                    aria-label="Office: activate to sort column ascending">
                                                                    Commodity Name
                                                                </th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_0" rowspan="1"
                                                                    colspan="1" style="width: 73.0167px;"
                                                                    aria-label="Age: activate to sort column ascending">
                                                                    Selling Price
                                                                </th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_0" rowspan="1"
                                                                    colspan="1" style="width: 142.267px;"
                                                                    aria-label="Start date: activate to sort column ascending">
                                                                    Original Price
                                                                </th>

                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_0" rowspan="1"
                                                                    colspan="1" style="width: 116.15px;"
                                                                    aria-label="Salary: activate to sort column ascending">
                                                                    Origin
                                                                </th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_0" rowspan="1"
                                                                    colspan="1" style="width: 116.15px;"
                                                                    aria-label="Salary: activate to sort column ascending">
                                                                    Spec
                                                                </th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_0" rowspan="1"
                                                                    colspan="1" style="width: 116.15px;"
                                                                    aria-label="Salary: activate to sort column ascending">
                                                                    Level
                                                                </th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_0" rowspan="1"
                                                                    colspan="1" style="width: 116.15px;"
                                                                    aria-label="Salary: activate to sort column ascending">
                                                                    Template Category
                                                                </th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_0" rowspan="1"
                                                                    colspan="1" style="width: 116.15px;"
                                                                    aria-label="Salary: activate to sort column ascending">
                                                                    Template Type
                                                                </th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_0" rowspan="1"
                                                                    colspan="1" style="width: 116.15px;"
                                                                    aria-label="Salary: activate to sort column ascending">
                                                                    Operation
                                                                </th>

                                                            </tr>
                                                            </thead>

                                                            <tbody>

                                                        {% for c in commodity %}
                                                            <tr role="row" class="odd">
                                                                <td class="sorting_1">{{ c.commodity_code }}</td>
                                                                <td>{{ c.commodity_barcode }}</td>
                                                                <td>{{ c.commodity_name }}</td>
                                                                <td>{{ c.selling_price }}</td>
                                                                <td>{{ c.original_price }}</td>
                                                                <td>{{c.origin}}</td>
                                                                <td>{{c.specification}}</td>
                                                                <td>{{c.lavel}}</td>
                                                                <td>{{ c.template_category }}</td>
                                                                <td>{{c.template_type}}</td>
                                                                <td> 
                                                                    
                                                                        <button type="button"
                                                                        class="btn btn-sm btn-outline-secondary update_button"
                                                                        data-toggle="modal"
                                                                        data-target="#updatedevice"
                                                                        data-id={{ c.id }} title="Edit"><i
                                                                        class="fa fa-edit"></i></button>
                                                                        
                                                                    <button type="button"
                                                                    class="btn btn-sm btn-outline-secondary update_button"
                                                                    data-toggle="modal" data-target="#Viewdevice"
                                                                    data-id={{ c.id }} title="View"><i
                                                                        class="fa fa-eye"></i></button>
                                                                <a href="/productmanager/productquery/commoditiesdelete/{{ c.id }}"
                                                                   class="remove_button">
                                                                    <button type="button"
                                                                            class="btn btn-sm btn-outline-danger"
                                                                            title="Delete" data-type="confirm"><i
                                                                            class="fa fa-trash"></i></button>
                                                                </a>
                                                            </td>

                                                            </tr>

                                                            {% endfor %}


                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal -->
    <div class="modal animated zoomIn" id="addcontact" tabindex="-1" role="dialog"
         style="display: none; padding-right: 12px;" aria-modal="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="title" id="defaultModalLabel">Add Basestation</h6>
                </div>
                <form method="post" name="addbasestation" action="{% url 'commodities' %}" enctype="multipart/form-data"> 
                    {% csrf_token %}
                    <div class="modal-body"> 
                        <div class="row clearfix">
                            <div class="col-12">
                            <div class="form-group">
                                <label>Own code</label>                                     
                                <input required name="own_code" type="text" class="form-control" required="">
                            </div>
                            </div>
                            <div class="col-12">
                            <div class="form-group">
                                <label>Commodity code</label>
                                <input required name="commodity_code" type="text" class="form-control" required="">
                            </div>
                            </div>
                            <div class="col-12">
                            <div class="form-group">
                                <label>Commodity Barcode</label>
                                <input required name="commodity_barcode" type="text" class="form-control" required="">
                            </div>
                            </div>
                            <div class="col-12">
                            <div class="form-group">
                                <label>Unit</label>
                                <input required name="unit" type="number" class="form-control" required="">
                            </div>
                            </div>
                            <div class="col-12">
                            <div class="form-group">
                                <label>Commodity Name</label>
                                <input required name="commodity_name" type="text" class="form-control" required="">
                            </div>
                            </div>
                            <div class="col-12">
                            <div class="form-group">
                                <label>Commodity Abbr</label>
                                <input required name="commodity_abbr" type="text" class="form-control" required="">
                            </div>
                            </div>
                            <div class="col-12">
                            <div class="form-group">
                                <label>Template Category</label>
                                <input required name="template_category" type="text" class="form-control" required="">
                            </div>
                            </div>                                     
                            <div class="col-12">
                            <div class="form-group">
                                <label>Template Type</label>
                                <input required name="template_type" type="text" class="form-control" required="">
                            </div>
                            </div>
                            <div class="col-12">
                            <div class="form-group">
                                <label>Origin</label>
                                <input required name="origin" type="text" class="form-control" required="">
                            </div>
                            </div>
                            <div class="col-12">
                            <div class="form-group">
                                <label>Level</label>
                                <input required name="lavel" name="level" type="text" class="form-control" required="">
                            </div>
                            </div>
                            <div class="col-12">
                            <div class="form-group">
                                <label>Qrcode Link</label>
                                <input required name="qrcode_link" type="text" class="form-control" required="">
                            </div>
                            </div>
                            <div class="col-12">
                            <div class="form-group">
                                <label>Picture Info</label>
                                <div class="dropify-wrapper" style="height: 342px;">
                                    <div class="dropify-message"><span class="file-icon"></span>
                                        <p>Drag and drop a file here or click</p>
                                        <p class="dropify-error">Ooops, something wrong appended.</p></div>
                                    <div class="dropify-loader"></div>
                                    <div class="dropify-errors-container">
                                        <ul></ul>
                                    </div>
                                    <input required name="picture_info" type="file" class="dropify">
                                    <button type="button" class="dropify-clear">Remove</button>
                                    <div class="dropify-preview"><span class="dropify-render"></span>
                                        <div class="dropify-infos">
                                            <div class="dropify-infos-inner"><p class="dropify-filename"><span
                                                    class="file-icon"></span> <span
                                                    class="dropify-filename-inner"></span></p>
                                                <p class="dropify-infos-message">Drag and drop or click to
                                                    replace</p></div>
                                        </div>
                                    </div>
                                </div>                                                                                                             
                            </div>
                            </div>
                            <h3>Specification</h3>
                            <div class="col-12">
                            <div class="form-group">
                                <label>Specifications</label>
                                <input required name="specification" type="text" class="form-control" required="">
                            </div>
                            </div>
                            <div class="col-12">
                            <div class="form-group">
                                <label>Selling Price</label>
                                <input required name="selling_price" type="number"  class="form-control" required="" >
                            </div>
                            </div>
                            <div class="col-12">
                            <div class="form-group">
                                <label>Original Price</label>
                                <input required name="original_price" type="number"  class="form-control" required="">
                            </div>
                            </div>
                            <div class="col-12">
                            <div class="form-group">
                                <label>Vip Price</label>
                                <input required name="vip_price" type="number"  class="form-control" required="">
                            </div>
                            </div>
                            <div class="col-12">
                            <div class="form-group">
                                <label>Stock 1</label>
                                <input required name="stock_1" type="number"  class="form-control" required="">
                            </div>
                            </div>
                            <div class="col-12">
                            <div class="form-group">
                                <label>Stock 2</label>
                                <input required name="stock_2" type="number"  class="form-control" required="">
                            </div>
                            </div>
                            <div class="col-12">
                            <div class="form-group">
                                <label>Stock 3</label>
                                <input required name="stock_3" type="number"  class="form-control" required="">
                            </div>
                            </div>
                            <h4>Promotion Info</h4>
                            <div class="col-12">
                            <div class="form-group">
                                <label>Promotion Period</label>
                                <input required name="promotion_period_start_date" type="date" class="form-control" required="">
                            </div>
                            </div>
                            <div class="col-12">
                            <div class="form-group">
                                <label>To</label>
                                <input required name="promotion_period_end_date" type="date" class="form-control" required="">
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Modal -->
    <div class="modal animated zoomIn" id="updatedevice" tabindex="-1" role="dialog"
    style="display: none; padding-right: 12px;" aria-modal="true">
   <div class="modal-dialog" role="document">
       <div class="modal-content">
           <div class="modal-header">
               <h6 class="title" id="defaultModalLabel">Update Commodity</h6>
           </div>
           <form method="post" name="updatebasestation" id="updatebasestation" action="#" enctype="multipart/form-data">
               {% csrf_token %}
               <div class="modal-body" id="updatebasestationform">
                   <div class="row clearfix">

                       {% for field in updateform %}
                           <div class="col-12">
                               <div class="form-group">
                                   <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                   {{ field }}
                                   {{ field.errors }}
                               </div>
                           </div>
                       {% endfor %}


                   </div>
               </div>
               <div class="modal-footer">
                   <button type="reset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                   <button type="submit" class="btn btn-primary">Confirm</button>
               </div>
           </form>

       </div>
   </div>
</div>
 

<div class="modal animated zoomIn" id="Viewdevice" tabindex="-1" role="dialog"
    style="display: none; padding-right: 12px;" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">View ESL</h6>
            </div>
                <div class="modal-body" id="Viewbasestationform">
                    <div class="row clearfix">
                        
                    </div>
                </div>            
        </div>
    </div>
</div>

<script>

   $(document).ready(function () {
       $('#updatedevice').on('show.bs.modal', function (event) {
           var button = $(event.relatedTarget) // Button that triggered the modal
           var id = button.data('id') // Extract info from data-* attributes
           $.ajax({
                    type: 'GET',
                    url: '/productmanager/productquery/commoditieupdateform/'+id,
                    success: function(res){          
                        $("#updatebasestationform").html(res)
                    }
                });
           var modal = $(this)
           console.log(id)
           $("#updatebasestation").attr("action", "/productmanager/productquery/commoditiesupdate/" + id);
       })

       
       $('#Viewdevice').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var id = button.data('id') // Extract info from data-* attributes
            $.ajax({
                type: 'GET',
                url: '/productmanager/productquery/commoditieviewform/' + id,
                success: function (res) {
                    $("#Viewbasestationform").html(res);
                    $("#Viewbasestationform input[name=picture_info]").hide()
                }
            });
            var modal = $(this)
            console.log(id)            
        })

       $('#DataTables_Table_0').DataTable();
   
   });
</script>
{% endblock %}
{% block include_page %}
    {% include 'partials/_sweetalert.html' %}
{% endblock %}

