{% extends 'base.html' %}

{% block content %}
    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a> Template</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item">Template</li>
                            <li class="breadcrumb-item">Store Template</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">
                            <ul class="nav nav-tabs-new2">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Home-new2">Single
                                    Commodity Template
                                </a></li>
{#                                <li class="nav-item"><a class="nav-link " data-toggle="tab" href="#Profile-new2">Multi-Commodity#}
{#                                    Template</a></li>#}
{#                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Contact-new2">Segment#}
{#                                    Code Screen Template</a></li>#}
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active " id="Home-new2">
                                    <div class="header">
                                        <h2>Template List</h2>
                                        <ul class="header-dropdown">
                                            <li><a href="javascript:void(0);" class="btn btn-info call_modal"
                                                   data-toggle="modal"
                                                   data-target="#addcontact">Add New</a></li>
                                        </ul>
                                    </div>


                                    <div class="body">
                                        <div class="table-responsive">
                                            <div id="DataTables_Table_0_wrapper"
                                                 class="dataTables_wrapper dt-bootstrap4">

                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <table class="table table-hover js-basic-example dataTable table-custom"
                                                               id="DataTables_Table_0" role="grid"
                                                               aria-describedby="DataTables_Table_0_info">
                                                            <thead class="thead-dark">
                                                            <tr role="row">
                                                                <th class="sorting_asc" tabindex="0"
                                                                    aria-controls="DataTables_Table_0" rowspan="1"
                                                                    colspan="1" style="width: 200.483px;"
                                                                    aria-sort="ascending"
                                                                    aria-label="Name: activate to sort column descending">
                                                                    #
                                                                </th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_0" rowspan="1"
                                                                    colspan="1" style="width: 323.233px;"
                                                                    aria-label="Position: activate to sort column ascending">
                                                                                                                                        Esl Barcode

                                                                </th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_0" rowspan="1"
                                                                    colspan="1" style="width: 140.85px;"
                                                                    aria-label="Office: activate to sort column ascending">
                                                                    ESL Size
                                                                </th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_0" rowspan="1"
                                                                    colspan="1" style="width: 73.0167px;"
                                                                    aria-label="Age: activate to sort column ascending">
                                                                    SI number
                                                                </th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_0" rowspan="1"
                                                                    colspan="1" style="width: 142.267px;"
                                                                    aria-label="Start date: activate to sort column ascending">
                                                                    Version
                                                                </th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_0" rowspan="1"
                                                                    colspan="1" style="width: 116.15px;"
                                                                    aria-label="Salary: activate to sort column ascending">
                                                                    Power Meter
                                                                </th>

                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_0" rowspan="1"
                                                                    colspan="1" style="width: 116.15px;"
                                                                    aria-label="Salary: activate to sort column ascending">
                                                                    Operation
                                                                </th>

                                                            </tr>
                                                            </thead>

                                                            <tbody>

                                    {% for t in esltable %}
                                                            <tr role="row" class="odd">
                                                                <td class="sorting_1">{{ forloop.counter}}</td>
                                                                <td>{{ t.template_name }}</td>
                                                                <td>{{ t.size }}</td>
                                                                <td>{{ t.dpi }}</td>
                                                                <td>{{ t.color}}</td>
                                                                <td>{{t.template_category}}</td>

                                                                <td>
                                                                   <button type="button"
                                                                    class="btn btn-sm btn-outline-secondary update_button"
                                                                    data-toggle="modal"
                                                                    data-target="#updatedevice"
                                                                    data-id={{ t.id }} title="Edit"><i
                                                                    class="fa fa-edit"></i></button>
                                                                    <a href="#" class="remove_button">
                                                                        <button type="button"
                                                                                class="btn btn-sm btn-outline-danger"
                                                                                title="Delete" data-type="confirm">
                                                                            Delete
                                                                        </button>
                                                                    </a></td>
                                                            </tr>
                                                            {% endfor %}


                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane " id="Profile-new2">
                                    <h6>Profile</h6>
                                    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out
                                        mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade.
                                        Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore
                                        carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings
                                        gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free,
                                        carles pitchfork biodiesel </p>
                                </div>
                                <div class="tab-pane" id="Contact-new2">
                                    <h6>Contact</h6>
                                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee
                                        squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes
                                        anderson artisan four loko farm-to-table craft beer twee. Qui photo booth
                                        letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
                                        cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus
                                        mollit. Keytar helvetica</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Modal -->
    <div class="modal animated zoomIn" id="addcontact" tabindex="-1" role="dialog"
         style="display: none; padding-right: 12px;" aria-modal="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="title" id="defaultModalLabel">Add New Template</h6>
                </div>
                <form method="post" name="addbasestation" action="{%url 'storetempate' %}">
                    {% csrf_token %}
                <div class="modal-body">
                    
                    
                    <div class="row clearfix">                        
                         
                        <div class="col-12">
                            <div class="form-group">
                                <input name="template_name" type="text" class="form-control" placeholder="Template Name">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input name="size" type="text" class="form-control" placeholder="Size">
                            </div>
                        </div>
                        <div class="col-12">

                            <div class="form-group">
                                <br>
                                <label class="fancy-radio">
                                    <input name="dpi" type="radio" value="1" required=""
                                           data-parsley-errors-container="#error-radio" data-parsley-multiple="gender">
                                    <span><i></i>152*152</span>
                                </label>
                                <label class="fancy-radio">
                                    <input name="dpi" type="radio" value="2" required=""
                                           data-parsley-errors-container="#error-radio" data-parsley-multiple="gender">
                                    <span><i></i>252*152</span>
                                </label>                                
                                <p id="error-radio"></p>
                            </div>
                        </div>
                        <div class="col-12">
                            <label class="fancy-radio">
                                <input name="color" type="radio" value="Blackwhitered">
                                <span><i></i>Blackwhitered</span>
                            </label>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input name="model" type="text" class="form-control" placeholder="Model">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input name="template_category" type="text" class="form-control" placeholder="Template Category">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input name="template_type" type="text" class="form-control" placeholder="Template type">
                            </div>
                        </div>
                    
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-secondary" >Add to Details</button>
                    <!-- <a href="{% url 'edittemplate' %}" type="button" class="btn btn-primary">Add to Details</a> -->
                </div>
            </form>
            </div>
        </div>
    </div>
        <div class="modal animated zoomIn" id="updatedevice" tabindex="-1" role="dialog"
         style="display: none; padding-right: 12px;" aria-modal="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="title" id="defaultModalLabel">Update Device</h6>
                </div>
                <form method="post" name="updatebasestation" id="updatebasestation" action="">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="row clearfix">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        {{ field }}
                                        {{ field.errors }}
                                    </div>
                                </div>
                            {% endfor %}


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% endblock %}
{% block include_page %}
    {% include 'partials/_sweetalert.html' %}
{% endblock %}

