

{% extends 'base.html' %}
{% block content %}
    <div id="main-content">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}

                    <script>
                        Notiflix.Notify.Success("{{ message }}");
                    </script>

                {% else %}
                    <script>
                        Notiflix.Notify.Failure("{{ message }}");
                    </script>
                {% endif %}
            {% endfor %}

        {% endif %}

        <style>
            .card-body {
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                padding: .5rem;
            }
        </style>
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a> Home</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item">Home</li>
                        </ul>
                    </div>
                </div>
            </div>

            <center>Store List</center>
            <div class="container">
                <div id="accordion">


                    <!-- {% for store in stores %}
                <p> {{ store.facility_name }} </p>
                <p> --------------- </p>
                {% for BaseStation in store.store.all %}
                <p> {{ BaseStation.code }} </p>
                {% for esl in BaseStation.base_station.all %}
                <p> {{ esl.esl_barcode }} </p>
                <p> {{ esl.commodity_barcode }} </p>
                {% endfor %}
                {% endfor %}
                {% endfor %} -->
                    {% for store in stores %}

                        <div class="card">
                            <div class="card-header" id="heading{{ forloop.counter }}">
                                <h5 class="mb-0 d-inline">
                                    <button class="btn btn-link" data-toggle="collapse"
                                            data-target="#collapse{{ forloop.counter }}" aria-expanded="true"
                                            aria-controls="collapse{{ forloop.counter }}">
                                        {{ store.facility_name }}
                                    </button>
                                </h5>

                            </div>
                            <div id="collapse{{ forloop.counter }}" class="collapse"
                                 aria-labelledby="heading{{ forloop.counter }}"
                                 data-parent="#accordion">
                                {% for BaseStation in store.store.all %}
                                    <div class="card-body" id="child{{ forloop.parentloop.counter }}">
                                        <div>
                                            <div class="card-header">
                                                <a href="#" data-toggle="collapse"
                                                   data-target="#collapseOne{{ forloop.parentloop.counter }}{{ forloop.counter }}">
                                                    <p> {{ BaseStation.code }} </p>
                                                </a>
                                            </div>

                                            <div class="card-body collapse"
                                                 data-parent="#child{{ forloop.parentloop.counter }}"
                                                 id="collapseOne{{ forloop.parentloop.counter }}{{ forloop.counter }}">
                                                <div class="row clearfix">
                                                    <div class="col-lg-12">

                                                        <div class="body">
                                                            <div class="table-responsive">
                                                                <div id="DataTables_Table_0_wrapper"
                                                                     class="dataTables_wrapper dt-bootstrap4">

                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <table
                                                                                    class="table table-hover js-basic-example dataTable table-custom"
                                                                                    id="DataTables_Table_0" role="grid"
                                                                                    aria-describedby="DataTables_Table_0_info">
                                                                                <thead class="thead-dark">
                                                                                <tr role="row">
                                                                                    <th class="sorting_asc" tabindex="0"
                                                                                        aria-controls="DataTables_Table_0"
                                                                                        rowspan="1" colspan="1"
                                                                                        style="width: 200.483px;"
                                                                                        aria-sort="ascending"
                                                                                        aria-label="Name: activate to sort column descending">
                                                                                        #
                                                                                    </th>
                                                                                    <th class="sorting_asc" tabindex="0"
                                                                                        aria-controls="DataTables_Table_0"
                                                                                        rowspan="1" colspan="1"
                                                                                        style="width: 200.483px;"
                                                                                        aria-sort="ascending"
                                                                                        aria-label="Name: activate to sort column descending">
                                                                                        Esl Barcode
                                                                                    </th>
                                                                                    <th class="sorting" tabindex="0"
                                                                                        aria-controls="DataTables_Table_0"
                                                                                        rowspan="1" colspan="1"
                                                                                        style="width: 140.85px;"
                                                                                        aria-label="Office: activate to sort column ascending">
                                                                                        Commodity Barcode
                                                                                    </th>
                                                                                    <th class="sorting" tabindex="0"
                                                                                        aria-controls="DataTables_Table_0"
                                                                                        rowspan="1" colspan="1"
                                                                                        style="width: 73.0167px;"
                                                                                        aria-label="Age: activate to sort column ascending">
                                                                                        Commodity Name
                                                                                    </th>
                                                                                    <th class="sorting" tabindex="0"
                                                                                        aria-controls="DataTables_Table_0"
                                                                                        rowspan="1" colspan="1"
                                                                                        style="width: 73.0167px;"
                                                                                        aria-label="Age: activate to sort column ascending">
                                                                                        Selling Price
                                                                                    </th>
                                                                                    <th class="sorting" tabindex="0"
                                                                                        aria-controls="DataTables_Table_0"
                                                                                        rowspan="1" colspan="1"
                                                                                        style="width: 73.0167px;"
                                                                                        aria-label="Age: activate to sort column ascending">
                                                                                        Original Price
                                                                                    </th>
                                                                                    <th class="sorting" tabindex="0"
                                                                                        aria-controls="DataTables_Table_0"
                                                                                        rowspan="1" colspan="1"
                                                                                        style="width: 73.0167px;"
                                                                                        aria-label="Age: activate to sort column ascending">
                                                                                        VIP Price
                                                                                    </th>
                                                                                </tr>
                                                                                </thead>

                                                                                <tbody>


                                                                                {% for esl in BaseStation.base_station.all %}
                                                                                    <tr role="row" class="odd">
                                                                                        <td class="sorting_1">{{ forloop.counter }}
                                                                                        </td>
                                                                                        <td class="sorting_1">{{ esl.esl_barcode }}
                                                                                        </td>
                                                                                        <td>{{ esl.commodity_barcode }}</td>
                                                                                        <td>{{ esl.commodity_barcode.commodity_name }}</td>
                                                                                        <td>{{ esl.commodity_barcode.selling_price }}</td>
                                                                                        <td>{{ esl.commodity_barcode.original_price }}</td>
                                                                                        <td>{{ esl.commodity_barcode.vip_price }}</td>

                                                                                    </tr>
                                                                                {% endfor %}
                                                                                </tbody>
                                                                            </table>

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $('table').DataTable();
                // $('#DataTables_Table_0').DataTable();
            });
        </script>
    </div>
{% endblock content %}