{% extends 'base.html' %}
{% load static %}

{% block content %}

<body class="users-registrations users-registrations-new users">
  <div class="toast-container">
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}

    <script>
      Notiflix.Notify.Success("{{ message }}");
    </script>

    {% else %}
    <script>
      Notiflix.Notify.Failure("{{ message }}");
    </script>
    {% endif %}
    {% endfor %}

    {% endif %}

  </div>

  <nav class="navbar bg-white navbar-default navbar-simple">
    <div class="container">
      <a class="navbar-brand mx-auto" href="{% url 'index' %}">
        <img class="navbar-logo" src="http://www.wrraptheme.com/templates/lucid/hr/html/assets/images/logo.svg" />
        <!-- <img class="navbar-logo" src="{% static 'images/logo.png' %}" /> -->
      </a>
    </div>
  </nav>

  <div class="container mt-4">
    <div class="row">
      <div class="col-12">
        <!-- <div class="h4 text-center my-4">
          Start your 14 Day Free Trial
        </div> -->
        <form class="form-devise" id="new_user" action="{% url 'signup' %}" accept-charset="UTF-8" method="post">
          {% csrf_token %}
          {# {{ form.as_p }} #}
          {% for field in form %}
              <div class="form-group">
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {{ field }}
                  {{ field.errors }}
              </div>
          {% endfor %}
          <!-- <input type="hidden" name="authenticity_token"
            value="85TwswF5Eu0cStN5ya2hbqtThExAmE6qfstgzvAm0pdNc9QwMmRZ2DX37AvgJi718wMcYK6OQqOJzwGIEJWMWw==" />
          <fieldset class="form-group">
            <label for="user_email">Email</label>
            <input placeholder="Enter your email address" class="form-control" autofocus="autofocus" required="required"
              type="email" name="username" id="user_email" />
          </fieldset>
          <fieldset class="form-group">
            <label for="user_password">Password</label>
            <input placeholder="Choose a password" class="form-control" required="required" type="password"
              name="password" id="user_password" />
          </fieldset>
          <fieldset class="form-group">
            <label for="user_password_confirmation">Password Confirmation</label>
            <input placeholder="Type your password again" class="form-control" required="required" type="password"
              name="confirm_password" id="user_password_confirmation" />
          </fieldset> -->
          <input type="submit" name="commit" value="Register" class="btn btn-block btn-primary mt-4"
            data-disable-with="Register" />

          <div class="shared-links my-4 text-center">
            Already have an account? <a href="{% url 'signin' %}">Sign in</a><br />
            <a href="{% url 'password_reset' %}">Forgot your password?</a><br />



          </div>

        </form>
      </div>
    </div>

  </div>

</body>
{% endblock %}