{% extends 'base.html' %}

{% block content %}
    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a> Device</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item">Devices</li>
                            <li class="breadcrumb-item">Store</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">
                            <!-- <ul class="nav nav-tabs-new2">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Home-new2">Bound</a></li>

                            </ul> -->
                            <div class="tab-content">
                                <div class="tab-pane active " id="Home-new2">
                                    <div class="header">
                                        <h2>Store List</h2>
                                        <ul class="header-dropdown">
                                            <li><a href="javascript:void(0);" class="btn btn-info call_modal" data-toggle="modal"
                                       data-target="#addcontact">Add New</a></li>
                                        </ul>
                                    </div>


                                    <div class="body">
                                        <div class="table-responsive">
                                            <div id="DataTables_Table_0_wrapper"
                                                 class="dataTables_wrapper dt-bootstrap4">

                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <table class="table table-hover js-basic-example dataTable table-custom"
                                                               id="DataTables_Table_0" role="grid"
                                                               aria-describedby="DataTables_Table_0_info">
                                                            <thead class="thead-dark">
                                                            <tr role="row">
                                                                <th class="sorting_asc" tabindex="0"
                                                                    aria-controls="DataTables_Table_0" rowspan="1"
                                                                    colspan="1" style="width: 200.483px;"
                                                                    aria-sort="ascending"
                                                                    aria-label="Name: activate to sort column descending">
                                                                   #
                                                                </th>
                                                                <th class="sorting_asc" tabindex="0"
                                                                    aria-controls="DataTables_Table_0" rowspan="1"
                                                                    colspan="1" style="width: 200.483px;"
                                                                    aria-sort="ascending"
                                                                    aria-label="Name: activate to sort column descending">
                                                                   Facility Address
                                                                </th>
{#                                                                <th class="sorting" tabindex="0"#}
{#                                                                    aria-controls="DataTables_Table_0" rowspan="1"#}
{#                                                                    colspan="1" style="width: 323.233px;"#}
{#                                                                    aria-label="Position: activate to sort column ascending">#}
{#                                                                    Model#}
{#                                                                </th>#}
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_0" rowspan="1"
                                                                    colspan="1" style="width: 140.85px;"
                                                                    aria-label="Office: activate to sort column ascending">
                                                                    Facility Name
                                                                </th>
                                                                <!-- <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_0" rowspan="1"
                                                                    colspan="1" style="width: 73.0167px;"
                                                                    aria-label="Age: activate to sort column ascending">
                                                                    Commodity Name
                                                                </th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_0" rowspan="1"
                                                                    colspan="1" style="width: 142.267px;"
                                                                    aria-label="Start date: activate to sort column ascending">
                                                                    Operation
                                                                </th> -->

                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_0" rowspan="1"
                                                                    colspan="1" style="width: 116.15px;"
                                                                    aria-label="Salary: activate to sort column ascending">
                                                                    Operation
                                                                </th>

                                                            </tr>
                                                            </thead>

                                                            <tbody>

                                                            {% for e in stores %}
                                                            <tr role="row" class="odd">
                                                                <td class="sorting_1">{{forloop.counter}}</td>
                                                                <td class="sorting_1">{{ e.facility_address }}</td>
{#                                                                <td>model</td>#}
                                                                <td>{{ e.facility_name }}</td>
                                                                
{#                                                                <td>2008/11/28</td>#}

                                                                <td>
                                                                    <button type="button"
                                                                    class="btn btn-sm btn-outline-secondary update_button"
                                                                    data-toggle="modal"
                                                                    data-target="#updatedevice"
                                                                    data-id={{ e.id }} title="Edit"><i
                                                                    class="fa fa-edit"></i></button>
                                                                    
                                                                    <button type="button"
                                                                    class="btn btn-sm btn-outline-secondary update_button"
                                                                    data-toggle="modal" data-target="#Viewdevice"
                                                                    data-id={{ e.id }} title="View"><i
                                                                        class="fa fa-eye"></i></button>
                                                            <a href="/store/storedelete/{{ e.id }}"
                                                               class="remove_button">
                                                                <button type="button"
                                                                        class="btn btn-sm btn-outline-danger"
                                                                        title="Delete" data-type="confirm"><i
                                                                        class="fa fa-trash"></i></button>
                                                            </a>
                                                        </td>
                                                            </tr>
                                                            {% endfor %}
 

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Modal -->
    <div class="modal animated zoomIn" id="addcontact" tabindex="-1" role="dialog"
         style="display: none; padding-right: 12px;" aria-modal="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="title" id="defaultModalLabel">Add Store</h6>
                </div>
                <form method="post" name="addbasestation" action="{%url 'store' %}">
                    
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="row clearfix">

                            {% for field in form %}
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        {{ field }}
                                        {{ field.errors }}
                                    </div>
                                </div>
                            {% endfor %}


                        </div>
                    </div>
                <!-- <div class="modal-body">
                    <div class="row clearfix"> -->
                        <!-- <div class="col-12">
                            <div class="form-group">
                                <input name="commodity_barcode" type="text" class="form-control" placeholder="Store Select">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input name="esl_barcode" type="text" class="form-control" placeholder="Commodity Barcode">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input name="store" type="text" class="form-control" placeholder="Esl Barcode">
                            </div>
                        </div> -->

                    <!-- </div>
                </div> -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal animated zoomIn" id="updatedevice" tabindex="-1" role="dialog"
         style="display: none; padding-right: 12px;" aria-modal="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="title" id="defaultModalLabel">Update Store</h6>
                </div>
                <form method="post" name="updatebasestation" id="updatebasestation" action="#">
                    {% csrf_token %}
                    <div class="modal-body" id="updatebasestationform">
                        <div class="row clearfix">

                            {% for field in form %}
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        {{ field }}
                                        {{ field.errors }}
                                    </div>
                                </div>
                            {% endfor %}


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="modal animated zoomIn" id="Viewdevice" tabindex="-1" role="dialog"
    style="display: none; padding-right: 12px;" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">View Store</h6>
            </div>
                <div class="modal-body" id="Viewbasestationform">
                    <div class="row clearfix">
                        {% for field in form %}
                        <div class="col-12">
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {{ field.errors }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>            
        </div>
    </div>
</div>

     
    <script>

        $(document).ready(function () {
            $('#updatedevice').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var id = button.data('id') // Extract info from data-* attributes
                $.ajax({
                    type: 'GET',
                    url: '/store/storeupdateform/'+id,
                    success: function(res){          
                        $("#updatebasestationform").html(res)
                    }
                });                
                var modal = $(this)
                console.log(id)
                $("#updatebasestation").attr("action", "/store/update/" + id);
            })
            $('#Viewdevice').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var id = button.data('id') // Extract info from data-* attributes
            $.ajax({
                type: 'GET',
                url: '/store/storeviewform/' + id,
                success: function (res) {
                    $("#Viewbasestationform").html(res)
                }
            });
            var modal = $(this)
            console.log(id)            
        })
            $('#DataTables_Table_0').DataTable();
        });
    </script>
{% endblock %}
{% block include_page %}
    {% include 'partials/_sweetalert.html' %}
{% endblock %}

