{% extends "base.html" %}

{% block content %}


    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a>Profile</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item active"><a href="#">Update</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">

                <div class="col-lg-12 col-md-12">
                    <div class="planned_task">
                        <div class="header">
{#                            <ul class="nav nav-tabs-new2">#}
{#                                <li class="nav-item"><a data-toggle="tab" href="#add" class="nav-link">Edit</a></li>#}
{#                            </ul>#}
                        </div>
                        <div class="body">
                            <div class="tab-content">

                                <div class="tab-pane show active" id="add">

                                    <div class="row clearfix">
                                        <div class="col-md-6 d-table m-auto card p-10">
                                            <h4 class="text-center m-t-10 m-b-10 text-info "> Update {{ student.firstName }} </h4>

                                            <form method="post" enctype="multipart/form-data" class="form-auth-small"
                                                  id="student_register">
                                                {% csrf_token %}
                                                {% for field in form %}
                                                    <div class="form-group">
                                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                        {{ field }}
                                                        {{ field.errors }}
                                                    </div>
                                                {% endfor %}

                                                <button type="submit" class="btn btn-primary btn-lg btn-block">
                                                    Update
                                                </button>

                                            </form>


                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}

