{% extends 'base.html' %}

{% block content %}
    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a> Form Validation</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item">Commodities</li>
                            <li class="breadcrumb-item active">Update Commodity</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2>Basic Info</h2>
                        </div>
                        <div class="body">
                            <form id="basic-form" method="post"  action="{%url 'commodities' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                    {{form.as_p}}
                                {{ form.errors }}
                                <button type="submit" class="btn btn-primary">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}