{% extends 'base.html' %}
{% load static %}


{% block content %}

<body class="devise-sessions devise-sessions-new devise">
    <div class="toast-container">
    </div>
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}

    <script>
        Notiflix.Notify.Success("{{ message }}");
    </script>

    {% else %}
    <script>
        Notiflix.Notify.Failure("{{ message }}");
    </script>
    {% endif %}
    {% endfor %}

    {% endif %}

    <nav class="navbar bg-white navbar-default navbar-simple">
        <div class="container">
            <a class="navbar-brand mx-auto" href="{% url 'index' %}">
                <img class="navbar-logo" src="{% static 'images/logo.png' %}" />
            </a>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <h4 class="text-center my-4">Welcome back!</h4>
                <center>
                <form class="form-devise"  accept-charset="UTF-8" method="post">
                    {% csrf_token %}


                    <!-- {% for field in form %}
                    <fieldset class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        
                            {{ field }}
                            {{ field.errors }}
                        
                    </fieldset>
                    {% endfor %} -->
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                    
                    <div class="bottom">
                        
                        <span>Don't have an account? <a href="{% url 'signup' %}">Register</a></span><br>
                        <span>Already having an account? <a href="{% url 'signin' %}">Login</a></span>

                    </div>

                </form>

            </center>
            </div>
        </div>

    </div>

</body>


{% endblock content %}