{% extends 'base.html' %}

{% load static %}

{% block content %}

		<div class="vertical-align-wrap">
			<div class="vertical-align-middle auth-main">
				<div class="auth-box">
                    <div class="top">
    <!-- <img src="{% static 'images/SoluSoft Logo.png' %}" style="width: 254px;" alt="Lucid"> -->


{#                        <img src="http://www.wrraptheme.com/templates/lucid/university/html/assets/images/logo-white.svg" alt="Lucid">#}
                    </div>
					<div class="card">
                        <div class="header">
                            <p class="lead">Forgot password</p>
                        </div>
                        <div class="body">

                            <p>
                                We've emailed you instructions for setting your password, if an account exists with the email you entered.
                                You should receive them shortly.
                              </p>
                              <p>
                                If you don't receive an email, please make sure you've entered the address you registered with,
                                and check your spam folder.
                              </p>

                         
                        </div>
                    </div>
				</div>
			</div>
		</div>

{% endblock content %}
