{% load static %}
<div id="left-sidebar" class="sidebar">
    <div class="sidebar-scroll">
        <div class="user-account">
            <img src="{% static 'images/user.png' %}" class="rounded-circle user-photo" alt="User Profile Picture">
            <div class="dropdown">
                <span>Welcome,</span>
                <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown"><strong>{{ request.user.username }}</strong></a>
                <ul class="dropdown-menu dropdown-menu-right account animated flipInY">
                    <!-- <li><a href="#"><i class="icon-user"></i>My Profile</a></li>
                    <li><a href="#"><i class="icon-envelope-open"></i>Messages</a></li>
                    <li><a href="javascript:void(0);"><i class="icon-settings"></i>Settings</a></li>
                    <li class="divider"></li> -->
                    <li><a href="{% url 'user_details_update' request.user.id %}"><i class="icon-user"></i>Profile</a></li>
                    <li><a href="{% url 'profile_update' %}"><i class="icon-settings"></i>Change Password</a></li>
                    <li><a href="{% url 'logout' %}"><i class="icon-power"></i>Logout</a></li>
                </ul>
            </div>

        </div>


        <!-- Tab panes -->
        <div class="tab-content p-l-0 p-r-0">
            <div class="tab-pane active" id="hr_menu">
                <nav class="sidebar-nav">
                    <ul class="main-menu metismenu">
                        <li><a href="{% url 'index' %}"><i class="icon-home"></i><span>Home</span></a></li>

                        <li>
                            <a href="#Device" class="has-arrow"><i class="icon-screen-smartphone "></i><span>Device</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{% url 'esl' %}">Esl</a></li>
                                <li><a href="{% url 'basestation' %}">Base Station</a></li>

                            </ul>
                        </li>
                        <!-- <li>
                            <a href="#Log" class="has-arrow"><i class="icon-shield"></i><span>Log & Alert</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="#">Item 1</a></li>

                            </ul>
                        </li> -->
                        <li><a href="{% url 'commodities' %}"><i class="icon-list"></i>Commodities</a></li>
                        <li><a href="{% url 'store' %}"><i class="icon-list"></i>Store</a></li>
                        <!-- <li>
                            <a href="#Template" class="has-arrow"><i class="icon-notebook"></i><span>Template</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{% url 'storetempate' %}">Store Template</a></li>
                                <li><a href="{% url 'esl_table' %}">Store Icon</a></li>
                                <li><a href="{% url 'create_template' %}">Template Type</a></li>

                            </ul>
                        </li> -->


                        <!-- <li>
                            <a href="#Strategy" class="has-arrow"><i
                                    class="fa-search"></i><span>Est Strategy</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="#">Item 1</a></li>

                            </ul>
                        </li> -->
                        <!-- <li><a href="#"><i class="fa fa-briefcase"></i>Clerk Management</a></li> -->



                    </ul>
                </nav>
            </div>

        </div>
    </div>
</div>