{% load static %}
<link rel="stylesheet" href="{% static 'css/parsley.css' %}">
<script src="{% static 'js/parsley.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
<script src="{% static 'js/sweetalert.min.js' %}"></script>

<script>
    $(function () {


        $(document).on("click", ".remove_button", function (e) {
            var currentobject = $(this).attr('href');
            e.preventDefault();
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Yes",
                closeOnConfirm: false
            }, function () {
                console.log(currentobject);
                window.location.href = currentobject;
            });
        });





    });
    $(document).on('click', '.call_modal', function () {
            $('#addcontact').show();
        });



</script>







